<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ideality.coreflow.approval.query.mapper.ApprovalMapper">
    <resultMap id="ApprovalResultMap" type="com.ideality.coreflow.approval.query.dto.ResponseApproval">
        <id property="id" column="ID" />
        <result property="requesterId" column="REQUESTER_ID" />
        <result property="title" column="TITLE" />
        <result property="type" column="TYPE" />
        <result property="status" column="STATUS" />
        <result property="content" column="CONTENT" />
        <result property="createdAt" column="CREATED_AT" />
        <result property="approvedAt" column="APPROVED_AT" />
        <result property="myRole" column="MY_ROLE" />
        <result property="delayDays" column="DELAY_DAYS" />
        <result property="actionDetail" column="ACTION_DETAIL" />
        <result property="reason" column="REASON" />

        <collection property="participantList" ofType="com.ideality.coreflow.approval.query.dto.ResponseParticipant">
            <id property="id" column="APPROVAL_PARTICIPANT_ID" />
            <result property="approvalId" column="APPROVAL_ID" />
            <result property="userId" column="PARTICIPANT_ID" />
            <result property="role" column="PARTICIPANT_ROLE" />
            <result property="createdAt" column="PARTICIPANT_CREATED_AT" />
        </collection>
    </resultMap>

    <resultMap id="ApprovalDetailedResultMap" type="com.ideality.coreflow.approval.query.dto.ApprovalDetailedDTO">
        <id property="id" column="ID" />
        <result property="requesterId" column="REQUESTER_ID" />
        <result property="title" column="TITLE" />
        <result property="type" column="TYPE" />
        <result property="status" column="STATUS" />
        <result property="content" column="CONTENT" />
        <result property="createdAt" column="CREATED_AT" />
        <result property="approvedAt" column="APPROVED_AT" />
        <result property="approverId" column="APPROVER_ID" />
        <result property="delayDays" column="DELAY_DAYS" />
        <result property="actionDetail" column="ACTION_DETAIL" />
        <result property="reason" column="REASON" />
    </resultMap>

    <resultMap id="PreviewApprovalResultMap" type="com.ideality.coreflow.approval.query.dto.ResponsePreviewApproval">
        <id property="id" column="ID" />
        <result property="requesterName" column="REQUESTER_NAME" />
        <result property="title" column="TITLE" />
        <result property="approvedAt" column="APPROVED_AT" />
    </resultMap>

    <select id="selectApprovedApprovalById" parameterType="long" resultMap="ApprovalDetailedResultMap">
        SELECT
               a.id AS ID
             , a.user_id AS REQUESTER_ID
             , a.title AS TITLE
             , a.type AS TYPE
             , a.status AS STATUS
             , a.content AS CONTENT
             , a.created_at AS CREATED_AT
             , a.approved_at AS APPROVED_AT
             , ap.user_id AS APPROVER_ID
             , da.delay_days AS DELAY_DAYS
             , da.action_detail AS ACTION_DETAIL
             , dr.reason AS REASON
          FROM approval a
          LEFT JOIN approval_participant ap ON ap.role = 'APPROVER'
          LEFT JOIN delay_approval da ON a.id = da.approval_id
          LEFT JOIN delay_reason dr ON da.delay_reason_id = dr.id
         WHERE a.id=#{id}
    </select>

    <!-- 수신 내역 조회 -->
    <select id="selectMyApprovalReceive" parameterType="long" resultMap="PreviewApprovalResultMap">
        SELECT
               a.id AS ID
             , u.name AS REQUESTER_NAME
             , a.title AS TITLE
             , a.approved_at AS APPROVED_AT
          FROM approval a
          LEFT JOIN user u ON a.user_id = u.id
          LEFT JOIN approval_participant ap ON a.id = ap.approval_id
         WHERE ap.user_id = #{id}
    </select>

    <!-- 발신 내역 조회 -->
    <select id="selectMyApprovalSent" parameterType="long" resultMap="PreviewApprovalResultMap">
        SELECT
               a.id AS ID
             , u.name AS REQUESTER_NAME
             , a.title AS TITLE
             , a.approved_at AS APPROVED_AT
          FROM approval a
          LEFT JOIN user u ON a.user_id = u.id
         WHERE a.user_id = #{id}
    </select>

    <select id="selectApprovalByTaskId" parameterType="long" resultMap="PreviewApprovalResultMap">
        SELECT
               a.id AS ID
             , u.name AS REQUESTER_NAME
             , a.title AS TITLE
             , a.approved_at AS APPROVED_AT
          FROM approval a
          LEFT JOIN user u ON a.user_id = u.id
         WHERE a.work_id = #{taskId}
           AND a.status = 'APPROVED'
    </select>
</mapper>
