<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ideality.coreflow.attachment.query.mapper.AttachmentMapper">

    <!-- 파일 정보 조회 (일단 냅두기) -->
    <resultMap id="AttachmentResultMap" type="com.ideality.coreflow.attachment.query.dto.ResponseAttachmentDTO" >
        <id property="id" column="ID" />
        <result property="url" column="URL"/>
        <result property="fileType" column="FILE_TYPE"/>
        <result property="size" column="SIZE"/>
        <result property="targetType" column="TARGET_TYPE"/>
        <result property="targetId" column="TARGET_ID"/>
    </resultMap>

    <select id="selectUrl" parameterType="map" resultMap="AttachmentResultMap">
        SELECT
            a.id,
            a.url,
            a.file_type,
            a.size,
            a.target_type,
            a.target_id
        FROM ATTACHMENT a
        WHERE a.target_id = #{targetId}
        AND a.target_type = #{targetType}
    </select>

    <!-- 프로젝트 타입 첨부파일 조회 + 태스크명 포함 -->
    <select id="selectAttachmentsByProjectId" parameterType="long" resultType="com.ideality.coreflow.attachment.query.dto.ReportAttachmentDTO">
        SELECT
            a.id,
            a.url,
            a.origin_name AS originName,
            a.upload_at AS uploadAt,
            u.name AS uploader,
            a.file_type AS fileType,
            a.size,
            a.task_id,
            a.target_type AS targetType,
            a.target_id AS targetId,
            w.name AS taskName
        FROM attachment a
          JOIN user u ON a.uploader_id = u.id
          LEFT JOIN work w ON a.task_id = w.id
        WHERE a.target_type = 'PROJECT'
          AND a.target_id = #{projectId}
          AND a.is_deleted = FALSE
    </select>

</mapper>
