<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ideality.coreflow.project.query.mapper.ParticipantMapper">
    <select id="selectDirectorByProjectId" resultType="_long">
        SELECT user_id
          FROM participant
         WHERE target_id = #{projectId}
           AND target_type = 'PROJECT'
           AND role_id = 1
    </select>
    <select id="isProjectDirector" parameterType="map" resultType="boolean">
        SELECT EXISTS (
               SELECT 1
                 FROM participant
                WHERE target_type = 'PROJECT'
                  AND target_id   = #{projectId}
                  AND user_id     = #{userId}
                  AND role_id     = 1
        )
    </select>

    <select id="selectParticipantsList" resultType="long">
        SELECT user_id
          FROM participant
         WHERE target_id = #{detailParticipantId}
           AND target_type = 'DETAILED'
    </select>

    <select id="isParticipantUser" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM participant
        WHERE target_id = #{projectId}
        AND user_id = #{userId}
        AND target_type = 'PROJECT'
        )
    </select>

    <!-- 특정 프로젝트에 참여하는 모든 회원 정보 가져오기 -->
    <select id="selectProjectParticipantList" parameterType="long" resultType="com.ideality.coreflow.project.query.dto.ProjectParticipantDTO">
        SELECT
            p.target_id AS projectId,
            u.id AS userId,
            u.name AS userName,
            u.dept_name AS deptName,
            u.job_rank_name AS jobRankName,
            u.job_role_name AS jobRoleName
        FROM participant p
          JOIN user u ON p.user_id = u.id
         WHERE p.target_type = 'PROJECT'
          AND p.target_id = #{projectId}
    </select>
</mapper>