<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ideality.coreflow.project.query.mapper.ProjectMapper">
    <resultMap id="ProjectSummaryMap" type="com.ideality.coreflow.project.query.dto.ProjectSummaryDTO">
        <result property="name" column="project_name"/>
        <result property="status" column="status"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="progressRate" column="progress_rate"/>
        <result property="passedRate" column="passed_rate"/>
        <result property="delayDays" column="delay_days"/>
        <association property="director" javaType="com.ideality.coreflow.project.query.dto.DirectorSummaryDTO">
            <result property="name" column="director_name"/>
            <result property="deptName" column="dept_name"/>
            <result property="jobRoleName" column="job_role_name"/>
            <result property="profileImage" column="profile_image"/>
        </association>
    </resultMap>
    <select id="selectParticipatingProjects" resultMap="ProjectSummaryMap">
        SELECT
               p.name AS project_name
             , p.status
             , CASE
                    WHEN p.status = 'PENDING' THEN p.start_expect
                    WHEN p.status = 'PROGRESS' THEN p.start_base
                    WHEN p.status = 'COMPLETED' THEN p.start_base
               END AS start_date
             , CASE
                    WHEN p.status = 'PENDING' THEN p.end_expect
                    WHEN p.status = 'PROGRESS' THEN p.end_expect
                    WHEN p.status = 'COMPLETED' THEN p.end_base
               END AS end_date
             , director.name AS director_name
             , director.dept_name AS dept_name
             , director.job_role_name AS job_role_name
             , director.profile_image AS profile_image
             , p.progress_rate
             , p.passed_rate
             , p.delay_days
          FROM project p
          JOIN participant me ON me.target_id     = p.id
                             AND me.target_type   = 'PROJECT'
                             AND me.user_id       = #{userId}
          JOIN participant pt ON pt.target_id     = p.id
                             AND pt.target_type   = 'PROJECT'
                             AND pt.role_id       = 1
          JOIN user director  ON director.id      = pt.user_id
         WHERE p.status IN ('PENDING', 'PROGRESS', 'COMPLETED')
    </select>
</mapper>