<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ideality.coreflow.user.query.mapper.UserMapper">
    <select id="selectAllUserByDeptName" resultType="_long">
        SELECT
               id
          FROM user
         WHERE dept_name = #{deptName}
    </select>
    <select id="selectLeadersByDeptName" resultType="_long">
        SELECT
               a.id
          FROM user a
          JOIN participant b ON a.id = b.user_id
         WHERE a.dept_name = #{deptName}
           AND b.role_id = 2
           AND b.target_type = 'PROJECT'
    </select>
    <select id="selectDeptNameByUserId" resultType="string" parameterType="_long">
        SELECT
            u.dept_name
        FROM user u
            WHERE #{userId} = u.id
    </select>
    <select id="searchUsersByName" resultType="com.ideality.coreflow.user.query.dto.UserNameIdDto">
        SELECT name, id
        FROM user
        WHERE name LIKE CONCAT('%', #{name}, '%')
        LIMIT 10;
    </select>


</mapper>