<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ideality.coreflow.user.query.mapper.UserMapper">

    <!-- 유저별 역할 -->
    <resultMap id="userOfRoleResultMap" type="com.ideality.coreflow.user.query.dto.UserOfRoleDTO">
        <id property="id" column="ID"/>
        <result property="roleId" column="ROLE_ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="roleName" column="ROLE_NAME"/>
        <result property="roleType" column="TYPE"/>
    </resultMap>

    <select id="selectUserOfGeneralRole" parameterType="_long" resultMap="userOfRoleResultMap">
        SELECT
               ur.role_id AS ROLE_ID,
               ur.user_id AS USER_ID,
               r.name AS ROLE_NAME,
               r.type AS TYPE
          FROM USER u
          LEFT JOIN USER_OF_ROLE ur ON u.id = ur.user_id
          LEFT JOIN ROLE r ON ur.role_id = r.id
         WHERE u.id = #{userId}
           AND r.type = 'GENERAL'
    </select>

    <select id="countByHireMonthAndDeptName" resultType="long">
        SELECT COUNT(*)
          FROM USER
         WHERE DATE_FORMAT(HIRE_DATE, '%y%m') = #{yearMonth}
           AND DEPT_NAME = #{deptName}
    </select>
    
    <select id="selectAllUserByDeptName" resultType="_long">
        SELECT
               id
          FROM user
         WHERE dept_name = #{deptName}
    </select>
    
    <select id="selectLeaderByDeptName" resultType="_long">
        SELECT
               a.id
          FROM user a
          JOIN participant b ON a.id = b.user_id
         WHERE a.dept_name = #{deptName}
           AND b.role_id = 2
           AND b.target_type = 'PROJECT'
    </select>
</mapper>